/*--------------------------------------------------------------

  Template Name: Asbab eCommerce HTML5 Template.
  Description: Asbab is a unique website template designed in HTML with a simple & beautiful look.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    border: none;
    /*font-size: 15px;*/
    /*font-family:  Arial, Helvetica, "Times New Roman", sans-serif;*/
    font-family: 'Roboto', sans-serif, 'Source Sans Pro', sans-serif, 'Hepta Slab', serif, 'PT Serif', serif !important;
    color: #000000;
}
h1, h2, h3, h4, h5, h6, p, ul, a {
    color: #000000;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900;
}
.about-us h3 {
    font-size: 18px;
}
.main__menu > li > a {
    color: #ffffff !important;
    display: block;
    font-size: 15px !important;
    height: 80px;
    line-height: 80px;
    position: relative;
    text-transform: uppercase;
}
#sticky-header-with-topbar {
    background: #233143;
}

.main__menu ul.dropdown li a {
    background: #ffffff none repeat scroll 0 0;
    color: #000000 !important;
    display: block;
    font-size: 14px !important;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    padding: 9px 18px;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}
.zmdi {
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font' !important;
}
.icons {
    font-family: 'simple-line-icons' !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}
.card-inner{
    margin-left: 4rem;
}
/* 2.1 Topbar */
.topbar {
    min-height:40px;
    color:#fff;
}
.topbar strong {
    font-weight:400;
}
.topbar .header-info-col {
    line-height:40px;
    margin-right:30px;
    float:left;
    color:#fff;
    font-size:13px;
}
.topbar .header-info-col a {
    color:#000000;
}
.topbar-menu {
    margin:0;
    float:right;
}
.topbar-menu li {
    display:inline-block;
    line-height:40px;
    font-size:13px;
    font-weight:400;
    position:relative;
}
.topbar-menu li:after {
    content:"/";
    margin:0 12px;
}
.topbar-menu li:last-child:after {
    display:none;
    margin-right:0;
}
.topbar-menu a {
    color:#000000;
    display:inline-block;
}
.topbar-menu li > ul {
    background:#f6f5f2;
    min-width:100%;
    margin:0;
    display:none;
    left:-12px;
    position:absolute;
    top:100%;
    z-index:1111;
}
.topbar-menu li:hover > ul {
    display:block;
}
.topbar-menu li > ul li {
    display:block;
    float:none;
    line-height:normal;
    margin:0;
}
.topbar-menu li > ul li a {
    border-bottom:1px solid #eee;
    display:block;
    padding:10px;
    color:#555;
}
.topbar-menu li > ul li::after {
    display:none;
}

.category {
    position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.category::after {
    content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* Scale up the box */
.category:hover {
    transform: scale(1.2, 1.2);
}
  
  /* Fade in the pseudo-element with the bigger shadow */
.category:hover::after {
    opacity: 1;
}