*{
	margin: 0;
	padding: 0;
}

table.table caption {
    font-size: 20px;
    color: #1b2a47;
    font-weight: 700;
}

.content>p {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

table.table tbody td>p {
    margin-bottom: 0px!important;
    width: max-content;
}

table.table {
    background: #a0bbd2;
    border: 2px solid #cbe7ff;
    border-collapse: collapse;
}
.color-red {
    color: red;
}

.input-error {
    border-color: red;
}

.summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px!important;
}

img.image-project-building {
    max-width: 200px;
    height: 100px;
    object-fit: contain;
}